/* ----------------------------------------------------------------
	STYLESHEET CALCULATOR
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Main
-----------------------------------------------------------------*/
h2 {
	padding: 15px;
	margin: 10px 5px 2px;
}

table {
	display: table;
	border-collapse:separate;
	border: 2px solid #ccc;
	margin: 15px 25px;
	width: 40%;
	height: auto;
}

caption {
	padding: 5px;
	font-size: 1.2em;
	background-color: #b9c4d4;
	border: 2px solid #ccc;
}

thead, tbody {width: 30%; background-color: #b9c4d4;}
th.displayCurrent{
	background-color: #d9e7d3;
}

th.previousDisplay {
	background-color: #d9e7d3;
}

td, th {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}