/* ----------------------------------------------------------------
	STYLESHEET CALCULATOR
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Main
-----------------------------------------------------------------*/
h2 {
	padding: 10px;
	margin: 3px 5px;
	text-align: center;
}

#content {
	display: flex;
	align-items: center;
	padding: 12px 16px;
}

table {
	display: table;
	border-collapse:separate;
	/* border: 1px solid rgb(116, 86, 113); */
	margin: 75px 115px 65px;
	width: 25%;
}

caption {
	padding: 5px;
	font-size: 1.2em;
	background-color: #e4d4e0;
	/* border: 1px solid rgb(108, 79, 110); */
	border-radius: 15%;
}

thead, tbody {width: 30%; background-color: #b9c4d4;}

th.displayCurrent, .previousDisplay {
	background-color: rgba(192, 157, 184, 0.733);
	border-radius: 2%;
}

td, th {
	text-align: center;
	padding: 12px 23px 14px;
}

.theNum {
	font-size: 1em;
	padding: 17px 30px;
	font-weight: 700;
	border-radius: 20%;
	background-color: rgb(204, 171, 197);
}

.theNum:hover {
	transform: translate(-2px, -3px);
}

.theNum.active {
	background-color: rgb(201, 98, 187);
}

.theMath, .theEqual, .theDecimal {
	border-radius: 5%;
	background-color: rgba(185, 126, 173, 0.705);
}

.backSBtn, .clearBtn {
	border-radius: 12%;
}

td.backSBtn {
	background-color: rgba(185, 108, 169, 0.74);
}

td.clearBtn {
	background-color: rgba(163, 101, 150, 0.74);
}

 /*-----------------------------------------------------------
		Screens that are 768px and 991.98px [Tablet]
	------------------------------------------------------------*/
	@media (min-width: 768px) and (max-width: 991.98px) {
		table {
			width: 50%;
		}
	}

/*-----------------------------------------------------------
		Screens that are 576px and 767.98px [Mobile]
	------------------------------------------------------------*/
    @media (min-width: 576px) and (max-width: 767.98px) {
		table {
			width: 50%;
		}
	}

/*--------------------------------------------------------------
		Screens that are min: 300px and max: 575.98px
    ------------------------------------------------------------*/
    @media only screen and (min-width: 300px) and (max-width: 575.98px) {
		table {
			width: 50%;
			margin: 15px;
		}

		h2{
			font-size: 20px;
			padding: 10px;
		}
	}