/* ----------------------------------------------------------------
	STYLESHEET
-----------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(/fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

body {
    font-family: 'Roboto-Regular',sans-serif;
}
/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
header {
    height: 100px;
    background-color: #1F2937;
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0px;
    padding: 5px 80px;
}

ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
}

ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 300;
    font-size: 18px;
    padding: 0 0px 0px 10px;
}

.logo img{
    width: 70px;
    height: auto;
    margin: 5px 10px;
    border-radius: 50%;
}
/* ----------------------------------------------------------------
	Section 1
-----------------------------------------------------------------*/
section.content-first {
    display: flex;
    /* border: 2px solid pink; */
    justify-content: space-around;
    background-color: #1F2937;
    margin-top: 0px;
    padding: 20px 80px 30px;
    align-content: center;
}

div.content-left {
    width: 70%;
}

div.content-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

div.content-left p {
    color: #E5E7EB;
    font-size: 18px;
    /* border: 2px solid lightcoral; */
}

div.content-left button {
    color:#E5E7EB;
    background-color: #3882F6;
    padding: 5px 18px;
    border-radius: 8px;
    font-weight: 700;
}

.content-right img {
    width: 85%;
    margin: 3px 80px 4px;
    /* border: 2px solid red; */
}

div.content-right {
    width: 50%;
    margin: 2px 10px;
}
/* ----------------------------------------------------------------
	Section 2
-----------------------------------------------------------------*/
.content-sec-img {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px;
}

figure img {
    width: 200px;
    margin: 12px;
    height: 200px;
    border-radius: 20%;
    object-fit:cover;
    /* object-position: right; */
}

section > h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight:900;
    text-align: center;
    margin: 25px;
}

figcaption {
    color: #1F2937;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
/* ----------------------------------------------------------------
	Section 3
-----------------------------------------------------------------*/
section.content-third {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    background-color: #E5E7EB;
    padding: 60px;
    margin: 60px 20px;
}

.quote {
    font-family: 'Roboto-LightItalic',sans-serif;
    font-size: 36px;
    color: #1F2937;
}

div.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.quote span {
    color: #1F2937;
    font-size: 15px;
    font-weight: bold;
    text-align: end;
}
/* ----------------------------------------------------------------
	Section 4
-----------------------------------------------------------------*/
section.content-fourth {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    background-color: #3882F6;
    align-items: center;
    margin: 30px 270px;
    height: 120px;
    border-radius: 10px;
}

.call-action > p {
    color:#E5E7EB;
    font-weight: bold;
    font-size: 15px;
}

div.call-action span {
    font-size: 12px;
    color:#E5E7EB;
}

button {
    color:#E5E7EB;
    padding: 5px 10px;
    margin-top: 18px;
    border-radius: 8px;
    font-weight: 700;
    border: 1px solid #E5E7EB ;
    background-color: #3882F6;
}
/*-----------------------------------------------------------
		Footer
	------------------------------------------------------------*/
footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 30px 40px;
    margin-top: 150px;
}

footer p {
    color:#F9FAF8;
    font-size: 13px;
    font-weight: 600;
}

.addSymbol::after {
    content: ' \00a9';
    color: #E5E7EB;
}
/*-------------------------------------------------------------
		Media queries
	------------------------------------------------------------*/
    /*-----------------------------------------------------------
		Screens that are between 992px and 1200px
        @media (min-width: 992px) and (max-width: 1199.98px)
	------------------------------------------------------------*/
    @media (min-width: 992px) and (max-width: 2440px) {

        figure figcaption {
            font-size: 18px;
        }
    }
    /*-----------------------------------------------------------
		Screens that are 768px and 991px [Tablet]
	------------------------------------------------------------*/
    @media (min-width: 768px) and (max-width: 990px) {
        div.content-right {
            display: none;
        }

        div.content-left {
            width: 100vh;
            margin: 0px 10px;
            font-size: 2em;
        }

        .content-sec-img {
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
        }

        section.content-second div.content-sec-img {
            margin: 0px 25px;
        }

        /* div.content-sec-img figure img {
            width: 380px;
            height: 280px;
        } */

        figure figcaption {
            font-size: 18px;
            text-align: center;
            margin:0px;
        }

        .quote {
            font-size: 1em;
        }

        section.content-fourth {
            width: 75%;
            margin: 10px 100px;
        }
    }
    /*-----------------------------------------------------------
		Screens that are 576px and 767.98px [Mobile]
	------------------------------------------------------------*/
    @media (min-width: 576px) and (max-width: 767.98px) {
        div.content-right {
            display: none;
        }

        div.content-left {
            width: 100vh;
            margin: 0px 10px;
            font-size: 1em;
        }

        div.content-left h1 {
            font-size: 2em;
        }

        div.content-left p {
            font-size: 1em;
        }

        .content-sec-img {
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
        }

        /* div.content-sec-img figure img {
            width: 280px;
            height: 280px;
        } */

        section.content-second div.content-sec-img {
            margin: 0px 25px;
        }

        figure figcaption {
            font-size: 18px;
            margin:5px;
        }

        .quote {
            font-size: 1em;
        }

        section.content-fourth {
            margin: 0%;
        }

        .call-action p {
            font-size: 1em;
        }
    }
    /*-----------------------------------------------------------
		Screens that are min: 300px and max: 575.98px
    ------------------------------------------------------------*/
    @media only screen and (min-width: 300px) and (max-width: 575.98px) {
        header {
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            padding: 7%;
            /* margin: 0px 0px 0px; */
        }

        section.content-first {
            padding: 9px;
        }

        .logo {
            display: none;
        }
        
        div.content-right {
            display: none;
        }

        div.content-left {
            width: 100vh;
            margin: 0px 10px;
            font-size: 0.8em;
        }

        div.content-left h1 {
            font-size: 1.5em;
        }

        div.content-left p {
            font-size: 1em;
        }

        section > h2 {
            font-size: 1.5em;
        }

        .content-sec-img {
            flex-wrap:wrap;
        }

        div.content-sec-img figure img {
            width: 200px;
            height: 200px;
        }

        section.content-second div.content-sec-img {
            margin: 0px 25px;
        }

        figure figcaption {
            font-size: 1em;
        }

        section.content-third {
            padding: 5%;
        }

        .quote {
            font-size: 1em;
        }

        section.content-fourth {
            margin: 0px;
        }
    }

